@mixin flex($direction, $justify, $align, $wrap) {
	display: flex;
	@if $direction == column {
		flex-direction: column;
	}
	justify-content: $justify;
	align-items: $align;
	@if $wrap == true {
		flex-wrap: wrap;
	}
}

@mixin laptop {
	@media (max-width: #{$laptop}) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: #{$tablet}) {
		@content;
	}
}
@mixin ls-phone {
	@media (max-width: #{$lsphone}) {
		@content;
	}
}
@mixin phone {
	@media (max-width: #{$phone}) {
		@content;
	}
}
