// responsive
$laptop: 1366px;
$tablet: 992px;
$lsphone: 768px;
$phone: 576px;

// fonts
$fontHeadings: "Exo", sans-serif;
$fontText: "Open Sans", sans-serif;

// text dimensions
$title: 40px;
$subtitle: 32px;
$caption: 28px;
$normalText: 18px;
$smallText: 14px;

// dimensions
$containerWidth: 1320px;

// transitions
$fadeIn: all 0.3s ease-out;

// colors
$colorPrimary: rgb(6, 19, 9);
